[class*="DefaultLayout_root"] {
    grid-template: "navbar content" minmax(auto,
            calc(100% - var(--player-bar-height) - var(--ym-spacer-size-m))) "playerbar playerbar" auto "barBelow barBelow" auto/auto 1fr !important;
}