/*
==> Confession of the Golden Diramix <==
https://x.com/Diram1x/status/1979370937087627445
*/

:root {
    --background: #000500;
    --block-color: #091200;
    --font-color: #fdfc88;
    --font-inactive-color: #316210;
    --buttons-hover: #26471d;
}

.ym-dark-theme {
    --ym-background-color-primary-enabled-basic: var(--background);
    --ym-background-color-primary-enabled-content: var(--block-color);
    --ym-controls-color-primary-text-enabled: var(--font-inactive-color);
    --ym-controls-color-primary-text-enabled_variant: var(--font-color);
    --ym-controls-color-primary-default-enabled: var(--font-color);
    --ym-background-color-primary-enabled-popover: var(--block-color);
    --ym-controls-color-secondary-on_default-hovered: var(--font-color);
    --ym-controls-color-secondary-text-enabled: var(--font-color);
    --ym-controls-color-secondary-on_default-enabled: var(--font-color);
    --ym-controls-color-primary-on_outline-enabled: var(--font-color);
    --ym-controls-color-secondary-outline-selected: var(--block-color);
    --ym-controls-color-primary-outline-selected_stroke: var(--font-color);
    --ym-controls-color-primary-outline-enabled: var(--block-color);
    --ym-background-color-secondary-enabled-blur: #333218;
    --ym-slider-color-primary-enabled: var(--font-color);
    --ym-controls-color-secondary-on_outline-enabled: #a5a33a;
    --ym-controls-color-secondary-text-enabled_variant: var(--font-color);
}

* {
    --ym-background-color-primary-enabled-basic: 0;
}

/* ВЫКУСИ! */
[class*="TitleBar_pulseText"] {
    visibility: hidden;
}

[class*="TitleBar_pulseText"]:after {
    visibility: visible;
    content: "BITE ME!";
    color: var(--font-color);
    font-weight: 600;
}

/* Slider background */
[class*="ChangeTimecode_slider"] {
    --slider-thumb-box-shadow-color: #0000;
}

/* Meta font colors */
[class*="Meta_title"] {
    --text-hovered-color: var(--font-color);
}

[class*="Meta_artistCaption"] {
    --text-enabled-color: var(--font-inactive-color);
}

/* Player */
[class*="PlayerBar_root"] {
    background-color: var(--block-color) !important;
}

[class*="BaseSonataControlsDesktop_playButtonIcon"] {
    color: var(--font-color);
}

/* Logo Color */
[class*="NavbarDesktop_logo"] {
    color: var(--font-color);
}

/* Vibe block */
[class*="VibeBlock_root"] {
    position: relative;
    background-color: #00f;
    margin: 20px 0 20px 20px;
    border-radius: 10px;
    background: url("http://127.0.0.1:2007/assets/vibe.jpg?name=Murder Drones")
        no-repeat center;
    background-size: cover;
    max-height: 550px;
}

[class*="VibeBlock_root"]::after {
    content: "";
    position: absolute;
    top: 15%;
    right: calc(10% - 50px);
    bottom: 0;
    width: 100%;
    pointer-events: none;
    background: url("http://127.0.0.1:2007/assets/uzi.png?name=Murder Drones")
        no-repeat right center / contain;
    background-size: contain;
}

@media (max-width: 1100px) {
    [data-test-id="VIBE_BLOCK"]::after {
        display: none;
    }
}

[class*="VibeBlock_pauseButton"],
[class*="VibeBlock_pauseButton"]:hover {
    background: #251427;
    box-shadow: 0 0 20px #a95ccc !important;
    color: #a95ccc;
    fill: #000;
    padding: 5px 20px;
    border-radius: 50px;
    --ym-controls-color-primary-text-vibe_icon: #a95ccc;
}

[class*="VibeBlock_playButton"],
[class*="VibeBlock_playButton"]:hover {
    background: #251427;
    box-shadow: 0 0 20px #fdfc88 !important;
    color: #fdfc88;
    fill: #000;
    padding: 5px 20px;
    border-radius: 50px;
    --ym-controls-color-primary-text-vibe_icon: #fdfc88;
}

[class*="VibeBlock_settingsButton"] > button,
[class*="VibeBlock_settingsButton"] > div {
    background-color: var(--block-color);
}

[class*="VibeBlock_settingsButton"] > button:hover {
    background-color: var(--buttons-hover);
}

[class*="VibeBlock_controls"] {
    z-index: 1;
}

/* Fullscreen background */
[class*="FullscreenPlayerDesktop_important"] {
    background-color: var(--background) !important;
    background: url("http://127.0.0.1:2007/assets/lyrics.jpg?name=Murder Drones")
        no-repeat center;
    background-size: cover;
}

/* Only display: none; */
[class*="UserProfile_plusLink"],
[class*="VibeAnimation_enter_done"],
[class*="SyncLyrics_content"]:after,
[class*="SyncLyrics_content"]:before,
[class*="PlayQueue_root"]:after,
[class*="PlayQueue_root"]:before,
[class*="NavbarDesktop_subTitle_withCursorPointer"] {
    display: none;
}
